@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --bg: #ffffff;
  --fg: #0f172a;
  --body: #334155;
  --muted: #64748b;
  --border: #e5e7eb;
  --card: #f8fafc;
}

[data-theme="dark"] {
  /* --bg: #0b0c10; */

  --bg: #0f0f0f;
  --fg: #e5e7eb;
  --body: #d1d5db;
  --muted: #9ca3af;
  --border: #1f2933;
  --card: #111827;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  @apply antialiased transition-colors duration-300;
  /* overflow-x: hidden; */
}

@font-face {
  font-family: "Aventi";
  src: url("/fonts/AventiBold-x3VVj.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer utilities {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 1s ease forwards;
  }
}

@layer components {
  .blog-content h1 {
    @apply text-2xl font-semibold mt-8;
  }

  .blog-content h1 {
    @apply text-2xl font-semibold mt-6;
  }

  .blog-content h3 {
    @apply text-xl font-semibold mt-4;
  }
  .blog-content p {
    color: var(--body);
    @apply text-base leading-relaxed mb-5;
  }

  .blog-content ul {
    color: var(--body);
    @apply list-disc pl-6;
  }

  .blog-content li {
    @apply mb-2;
  }

  .blog-content a {
    @apply text-fg underline hover:text-muted;
  }

  .blog-content code {
    @apply bg-card px-1 py-0.5 rounded text-sm;
  }

  .blog-content pre {
    @apply bg-card p-4 rounded overflow-x-auto;
  }
}
